# MongoDB Connection URL
MONGO_URL=mongodb://127.0.0.1:27017/jivexa_auth

# Secret key for JWT signing
JWT_SECRET=84cf17f9f7c2927a5453dcc979a7454653dfb8af2f846a97d89700f3b574b7f3

# Comma-separated list of allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Server Port
PORT=5000

# Environment mode (development / production)
NODE_ENV=development
